body {
    margin: 0;
}

@font-face {
    font-family: 'freefontserif';
    src: url('freefonts/FreeSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#flex-cont {
    display: flex;

}

#para-cont {
    width: max-content;
}

.top-cont {
    background-color: gray;
}

.mid-cont {
    flex-direction: column;
    background-color: white;
}

#footer {
    background-color: gray;
}

#rms {
    max-height: 100vh;
}